<!DOCTYPE html>  
<html lang="en">  
    <head>
        <meta charset="utf-8">
        <title>McMMO Stats</title>
        <meta name="description" content="mcmmo stats for my server">
        <meta name="author" content="Hunter Keca">

        <!-- styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
    </head>
    <body>
        <h1 class="title">
            Player Stats
        </h1>

        <div class="container">
            <% for(let i = 0; i < players.length; i++) {%>
            <div class="playerStats">
                <p>
                    <strong><%= players[i].name %>:</strong> <%= players[i].getPowerLevel() %>
                </p>
                <div>
                    <a href="#" class="link">[+]</a>

                    <ul tabindex="0" class="details" onblur="closeEl(this);">
                        <li>Taming: <%= players[i].points.taming %></li>
                        <li>Mining: <%= players[i].points.mining %></li>
                        <li>Woodcutting: <%= players[i].points.woodcutting %></li>
                        <li>Repair: <%= players[i].points.repair %></li>
                        <li>Unarmed: <%= players[i].points.unarmed %></li>
                        <li>Herbalism: <%= players[i].points.herbalism %></li>
                        <li>Excavation: <%= players[i].points.excavation %></li>
                        <li>Archery: <%= players[i].points.archery %></li>
                        <li>Swords: <%= players[i].points.swords %></li>
                        <li>Axes: <%= players[i].points.axes %></li>
                        <li>Acrobatics: <%= players[i].points.acrobatics %></li>
                        <li>Fishing: <%= players[i].points.fishing %></li>
                        <li>Alchemy: <%= players[i].points.alchemy %></li>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>

        <script type="text/javascript" src="/assets/main.js"></script>
    </body>
</html>  